<%= form_with url: collection_path, method: :post, multipart: true do |f| %>
  <div class="file has-name is-fullwidth">
    <label class="file-label">
      <%= f.file_field 'file', class: 'file-input' %>
      <span class="file-cta">
                <span class="file-icon">
                  <%= icon 'fas', 'upload' %>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
      <span class="file-name">
              </span>
    </label>
    <%= f.submit 'Upload', class: 'button is-primary is-small ' %>
  </div>
<% end %>
<% if @collections.present? %>
  <% @collections.each do |bill, collections| %>
    <p><%= bill.bill.brand_manager %></p>
    <% collections.each do |collection|%>
      <table class="table">
        <thead>
        <tr>
          <th>Reference</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= collection.reference %></td>
          <td><%= collection.amount %></td>
          <td><%= collection.collection_date %></td>
        </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% else %>
  <p>There are no collection found</p>
<% end %>