<% if invoices.present? %>
  <table class="table">
    <thead>
    <tr>
      <th>Reference</th>
      <th>Invoice Date</th>
      <th>Customer Name</th>
      <th>Brand Manager</th>
      <th>Narration</th>
      <th>Amount</th>
      <th>Total Collection</th>
      <th>Balance</th>
      <th>Edit</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% invoices.each do |invoice| %>
      <tr>
        <td><%= link_to invoice.reference, invoice_path(invoice.id), method: :get %></td>
        <td><%= invoice.invoice_date %></td>
        <td><%= invoice.customer_name %></td>
        <td><%= invoice.brand_manager %></td>
        <td><%= invoice.narration %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.collection.sum(&:amount) %></td>
        <td><%= invoice.amount - invoice.collection.sum(&:amount) %></td>
        <td>
          <%= link_to edit_invoice_path(invoice), class: 'button is-primary is-outlined is-small', method: :get do %>
            <% icon('fas', 'edit') %>
          <% end %>
        </td>
        <td><%= link_to 'Add collection', collections_path, class: 'button is-primary is-outlined is-small  ', method: :post %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="has-text-centered">There are no Bills found</p>
<% end %>