<% form_with model: Invoice do |f| %>
  <div class="field">
    <label class="label">Brand Manager</label>
    <p class="control">
        <span class="select">
         <%= f.text_field :brand_manager, @invoice.brand_manager, class: 'input', required: true %>
         </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Narration</label>
    <p class="control">
        <span class="select">
         <%= f.text_field :brand_manager, @invoice.narration, class: 'input', required: true %>
         </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Invoice Date</label>
    <p class="control">
        <span class="select">
         <%= f.text_field :brand_manager, @invoice.invoice_date, class: 'input', required: true %>
         </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Amount</label>
    <p class="control">
        <span class="select">
         <%= f.text_field :brand_manager, @invoice.amount, class: 'input', required: true %>
         </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Customer Name</label>
    <p class="control">
        <span class="select">
         <%= f.text_field :brand_manager, @invoice.customer_name, class: 'input', required: true %>
         </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Reference</label>
    <p class="control">
        <span class="select">
         <%= f.text_field :brand_manager, @invoice.reference, class: 'input', required: true %>
         </span>
    </p>
  </div>
<% end %>
