<%= form_with url: upload_invoice_path, method: :post, multipart: true do |f| %>
  <div class="file has-name is-fullwidth">
    <label class="file-label">
      <%= f.file_field 'file', class: 'file-input' %>
      <span class="file-cta">
                <span class="file-icon">
                  <%= icon 'fas', 'upload' %>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
      <span class="file-name">
              </span>
    </label>
    <%= f.submit 'Upload', class: 'button is-primary is-small ' %>
  </div>
  <div class="field has-addons">
    <%= link_to 'show pending bill', invoices_path(type: 'pending'), class: 'button is-primary is-small', data: {remote: true} %>
    <%= link_to 'show collected bill', invoices_path(type: 'collected'), class: 'button is-primary is-small', data: {remote: true} %>
  </div>
<% end %>
<div data-behaviour="table">
  <%= render partial: 'invoices', locals: {invoices: @invoices} %>
</div>