<table class="table">
  <tr>
    <th>Reference</th>
    <td><%=@invoice.reference %></td>
  </tr>
  <tr>
    <th>Invoice Date</th>
    <td><%=@invoice.invoice_date %></td>
  </tr>
  <tr>
    <th>Customer Name</th>
    <td><%=@invoice.customer_name %></td>
  </tr>
  <tr>
    <th>Brand Manager</th>
    <td><%=@invoice.brand_manager %></td>
  </tr>
  <tr>
    <th>Narration</th>
    <td><%=@invoice.narration %></td>
  </tr>
  <tr>
    <th>Amount</th>
    <td><%=@invoice.amount %></td>
  </tr>
  <tr>
    <th>
    </th>
    <td><%= link_to 'back', invoices_path, class: 'button is-small is-info is-outlined' %></td>
  </tr>

</table>